
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    font-family:"Raleway";
    display: flex;
    justify-content: center;
}

header {
    position:relative;
    display: flex;
    align-items:center;
    height:70px;
}
header nav {
    position:absolute;
    right:0px;top:7px;
    height:100%;
}

header img {
    width: 60px;
}

header a {
    margin-left: 50px;
    padding-top: 10px;
}

header a:hover {
    color: var(--main-color);
    border-top:solid;
    border-width:4px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration:none;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding:5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/************** Début de section Call To Action *******************/

section{
    flex-direction: row;
}

article h2{
    padding-top:45px;
    padding-bottom:10px;
    margin:0px;
}

article p{
    margin:0px;
    padding-bottom:30px;
}

.call-to-action {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding-bottom:20px;
}

.rechercher {
    display:flex;
<<<<<<< HEAD
    align-items:center;
    margin:0px;
    padding-bottom:40px;
=======
    padding-bottom:30px;
>>>>>>> 2722a14add893808c448e35d9c728153d7e8d7a9
}

.rechercher .fond-icone-map{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    color:black;
    background-color:var(--main-bg-color);
}

.rechercher .fa-solid {
    color: black;
}

.rechercher form {
    display:flex;
}

.rechercher button {
    padding-left:15px;
    padding-right:15px;
    height:49px;
    border-width:0px;
    border-radius: 0 15px 15px 0px;
    background-color: var(--main-color);
    color:white;
    font-size:18px;
    font-weight:bold;
}

input {
    padding-left:15px;
    padding-right:15px;
    border-style: solid;
    border-width:1px 0px 1px 0px;
    border-color:var(--main-bg-color);
    color:black;
    text-align: center;
    font-size:18px;
    font-weight:bold;
}

.filtres{
    display: flex;
    align-items:center;
    padding-bottom:20px;
}

.filtres-boutons{
    display:flex;
    justify-content:space-between;
    margin-left:10px;
}

.filtres button{
    height:50px;
    margin-right:10px;
    padding:10px 20px 10px 20px;
    border-radius: 25px;
    border:2px solid var(--filter-bg-color);
    background-color: white;
    font-size:15px;
    font-weight:600;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
}

.fond_icone_info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color:white;
    width: 20px;
    height: 20px;
    border:2px solid var(--main-bg-color);
    border-radius: 25px 25px 25px 25px;
}

.fond_icone_info .fa-solid {
    font-size: 12px;
}


/****************** Hebergements And Populaires *************************/
.hebergements-and-populaires {
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    width: 65%;
    flex-direction:column;
    justify-content:space-around;
}

.hebergements .card-txt{
    flex-direction:column;
    margin:0px;
    padding-left:5px;
}

.hebergements-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top:20px;
    gap:20px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction:column;
    width:250px;
    height:190px;
}

.hebergements-cards img {
    width: 100%;
    height:70%;
    border-radius:20px 20px 0px 0px;
}
.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width:100%;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.hebergements-cards .card-subtitle {
    padding-bottom:0px;
}

.hebergements-cards .card-rating {
    padding:5px;
    /* height:10px; */
}

<<<<<<< HEAD
.afficher-plus {
    text-decoration:none;
    color: #cf1f1f;
}
.afficher-plus:hover {
    cursor: pointer; /* Changer le curseur au survol */
}

/* .afficher-plus button {
    border-width: 0px;
    font-weight: bold;
    background-color:var(--main-bg-color);

} */

/* .afficher-plus button:hover{
    background-color:var(--main-bg-color);
    color:blue;
} */
=======
.afficherplus{
    height:30px;
    margin-left:5px;
    padding-top:30px;
}

#afficher-plus {
    font-weight: bold;
    width:100px;
}

#afficher-plus:hover{
    color:blue;
    font-size:17px;
}
>>>>>>> 2722a14add893808c448e35d9c728153d7e8d7a9

/********************** Début de section POPULAIRES **************************/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 20px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******************* Début de section Activités à Marseille ******************/

.activites {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin-bottom: 60px;
}

.activites-cards{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
<<<<<<< HEAD
    justify-content: space-around;
}
.activites-title {
    margin-left: 20px;
=======
    justify-content: space-between;
>>>>>>> 2722a14add893808c448e35d9c728153d7e8d7a9
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding:0px;
    border-radius: 20px 20px 20px 20px;
<<<<<<< HEAD
    width:300px;
    height:440px;
=======
    width:305px;
    height:455px;
>>>>>>> 2722a14add893808c448e35d9c728153d7e8d7a9
}

.activites-cards img {
    width: 100%;
    height: 90%;
    border-radius:20px 20px 0px 0px;
}

.activites-cards .card-content {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-left: 15px;
}

.activites-cards .card-title {
<<<<<<< HEAD
    margin: 25px 0px 0px 15px;
=======
    margin-top:20px;
>>>>>>> 2722a14add893808c448e35d9c728153d7e8d7a9
}

/******************* Début de la section FOOTER ***********************/

footer {
    display:flex;
    flex-direction:row;
    background-color: var(--main-bg-color);
<<<<<<< HEAD
    margin-top:50px 0px 0px 0px;
=======
    margin:100px 0px 0px 0px;
    padding-left:20px;
>>>>>>> 2722a14add893808c448e35d9c728153d7e8d7a9
    width:100%;
}

footer nav {
    display:flex;
    margin:0px;
    padding-left:20px;
    width:100%;
}

footer ul {
    list-style-type: none;
<<<<<<< HEAD
    padding:0px;
=======
    padding-left:0px;
}

footer h3 {
    margin:25px 0px 5px 0px ;
>>>>>>> 2722a14add893808c448e35d9c728153d7e8d7a9
}

footer li{
    margin-bottom:20px;
}

.footer-paragraphe {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:33%;
    height:200px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .filtres {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres-boutons{
        display: flex;
        margin:0px;
        padding:0px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 40px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards .card {
        margin-top: 0px;
    }

    .populaires-cards a {
        width: 31%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards{
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: space-between;
    }

    .activites-cards .card {
        width:190px;
        height:285px;
    }

    .activites-cards img {
        width: 100%;
        height: 75%;
        border-radius:20px 20px 0px 0px;
        margin-top:0px;
    }

    .activites-cards .card-content {
        display: flex;
        flex-direction: row;
        height:25%;
        align-items: center;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        position:static;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height:150px;
    }
    header nav {
        position: static; 
        right: auto;
        height: auto;
        display: flex;
        width:250px;
        justify-content:space-between;
        padding:30px 30px 0px 0px;
    }
    header a {
        height:30px;
        margin:0px;
        padding:0px 0px 5px 0px;
    }
    header a:hover {
        color: var(--main-color);
        border-top:none;
        border-bottom:solid;
        border-width:3px;
    }
    .call-to-action{
        display: flex;
        align-items:center;
    }
    
    article {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    article h2{
        width:60%;
        padding:0px 0px 10px 0px;
        margin:0px;
    }
    article p{
        width:60%;
        padding:0px 0px 40px 0px;
        margin:0px;
    }

    header img {
        margin-bottom:30px;
    }

    .filtres{
        flex-direction:column;
        /* flex-wrap: wrap; */
        width:60%;
        height:200px;
    }
    .filtres-boutons{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: space-between;
        width:100%;
        margin-left:0px;
        padding:0px;
    }

    .filtres button{
        width:160px;
        height:49px;
        padding:0px;
    }
    .info {
        width:60%;
    }

    .hebergements-and-populaires {
        flex-direction:column;
        align-items: center;
        width:100%;
    }

    .hebergements {
        width: 60%;
        align-items: center;
    }

    .hebergements-title {
        display: flex;
        justify-content:left;
        align-items: center;
    }

    .hebergements-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .hebergements-cards .card {
        display: flex;
        flex-direction:column;
        width:100%;
        height:190px;
    }
    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    footer {
        display:flex;
        flex-direction:column;
        background-color: var(--main-bg-color);
        margin:0px 0px 0px 0px;
        padding:0px;
    }

    footer ul {
        list-style-type: none;
        margin:0px;
        padding:0px;
    }
    

    .footer-paragraphe {
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        width:100%;
    }

    .footer-paragraphe title {
        justify-content: center;  
    }

    .footer-paragraphe nav {
        display:flex;
        flex-direction:column;
    } */
}